/* src/styles/Dashboard.css - inicio*/
.home-page {
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  color: #1a1a1a;
  background-color: #f9f9f9;
}

.home-header h1 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.home-header p {
  color: #555;
}

.indicators {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin: 2rem 0;
}

.indicator-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.info h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #111;
}

.info p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

.home-lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.activities, .deadlines {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.activities h2, .deadlines h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.activities ul, .deadlines ul {
  list-style: none;
  padding-left: 0;
}

.activities li, .deadlines li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}
