
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8; 
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; 
}
::-webkit-scrollbar-track {
  background: transparent;
}

.table td, .table th {
  transition: padding 0.2s ease;
}

.table-container table {
  border-collapse: separate;
  border-spacing: 0 0; 
}

.table-container th,
.table-container td {
  padding-left: 3rem !important; 
  padding-right: 3rem !important;
}
